/**
 * @author: 김영우
 * @description:
 *    * Design System 에서 도출한 색상변수 입니다.
 */

// 흰색 계열
$white-01: #FFFFFF;
$white-02: #F7F6F3;
$white-03: #F1F1F1;

// 회색 계열
$gray-01: #C1C1C1;
$gray-02: #5E6B78;
$gray-03: #1A2C41;

// 노랑 계열
$yellow-01: #FEC642;